.container {
	display: flex;
	border-radius: 3px;
}

.tab {
	background-color: var(--white);
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.main-container {
	padding-top: 10px;
	border-bottom: 1px solid var(--gray-240);
	width: 100%;
}

.add-container {
	padding: 15px;
}

.color-orange {
	color: var(--orange);
}

.path-icon {
	--size: 2vw;
	border: 2px solid var(--orange);
	width: var(--size);
	height: var(--size);
	border-radius: calc(var(--size) / 2);
}

.tab-box {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.tab-box + .tab-box {
	border-top: 1px solid var(--gray-240);
}