.container {
	display: block;
}

.small {
	font-size: 14px;
}

.soft-medium-small {
	font-size: 18px;
	font-weight: 500;
}

.medium-small {
	font-size: 18px;
	font-weight: 600;
}

.soft-medium-large {
	font-size: 22px;
	font-weight: 500;
}

.medium-large {
	font-size: 22px;
	font-weight: 600;
}

.soft-large {
	font-size: 28px;
	font-weight: 500;
}

.large {
	font-size: 28px;
	font-weight: 600;
}