.container {
	display: block;
}

.small {
	font-size: 0.9114vw;
}

.soft-medium-small {
	font-size: 1.172vw;
	font-weight: 500;
}

.medium-small {
	font-size: 1.172vw;
	font-weight: 600;
}

.soft-medium-large {
	font-size: 1.432vw;
	font-weight: 500;
}

.medium-large {
	font-size: 1.432vw;
	font-weight: 600;
}

.soft-large {
	font-size: 1.8228vw;
	font-weight: 500;
}

.large {
	font-size: 1.8228vw;
	font-weight: 600;
}