.container {
	display: block;
	overflow: hidden;
	border-radius: 3px;
	background-color: var(--white);
}

.image {
	width: 100%;
}

.image-container {
	max-height: 13vw;
	overflow: hidden;;
}

.prompt {
	border-bottom: var(--gray-240);
}

.button {
	max-width: 50%;
}

.border-bottom {
	border-bottom: 1px solid var(--gray-200);
}