.container {
	display: block;
	padding-top: 15px;
}

.button {
	max-width: 200px;
}

.name-field {
	width: 600px;
}

.field + .field {
	margin-left: 20px;
}

.field-group {
	display: flex;
	padding: 20px;
}

.field-container {
	display: block;
	background-color: var(--gray-orange-235);
}