.container {
	display: block;
	border-radius: 5px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.color-scheme-default {
	border: 1px solid var(--orange);
	background-color: var(--orange);
	color: var(--white);
}

.color-scheme-white {
	border: 1px solid var(--gray-230);
	background-color: var(--white);
	color: var(--black);
}